# Database container settings
METATRON_DB_HOST=metatron-db
METATRON_DB_PORT=3306
METATRON_DB_USER=metatron
METATRON_DB_PASSWORD=123
METATRON_DB_NAME=metatron

# Ollama is expected to run on the Windows host
METATRON_OLLAMA_URL=http://host.docker.internal:11434/api/generate
METATRON_MODEL_NAME=metatron-qwen
